/* ==========================================================================
   Custom Site Styles
   ========================================================================== */
   
body {
	background: white;;
}

.modal-container {
	background-color: white;
	padding: 20px;
	min-height: 300px;
	border: solid 3px #000;
}
